<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greymatter.earnjoy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.greymatter.earnjoy.helper.ApiConfig"
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jana"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.greymatter.earnjoy.JoblistActivity"
            android:exported="false" />
        <activity
            android:name="com.greymatter.earnjoy.Users.OtpActivity"
            android:exported="true" />
        <activity
            android:name="com.greymatter.earnjoy.Users.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.greymatter.earnjoy.Users.SearchjobActivity"
            android:exported="false" />
        <activity android:name="com.greymatter.earnjoy.Users.MoredetailsActivity" />
        <activity android:name="com.greymatter.earnjoy.Users.HomeActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.greymatter.earnjoy.Users.SplashscreenActivity" />
        <activity android:name="com.greymatter.earnjoy.Admin.AddnewsActivity" />
        <activity android:name="com.greymatter.earnjoy.Admin.MainActivity" />
        <activity android:name="com.greymatter.earnjoy.MainActivity" />
    </application>

</manifest>